<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hulingfeng.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.hulingfeng.domain.User">
    <result column="USER_ID" jdbcType="NUMERIC" property="userId" />
    <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="SEX_SL" jdbcType="VARCHAR" property="sexSl" />
    <result column="MARRI_SL" jdbcType="VARCHAR" property="marriSl" />
    <result column="EDU_SL" jdbcType="VARCHAR" property="eduSl" />
    <result column="OCCU_SL" jdbcType="VARCHAR" property="occuSl" />
    <result column="LOGINNAME" jdbcType="VARCHAR" property="loginname" />
    <result column="IDCARD" jdbcType="VARCHAR" property="idcard" />
    <result column="USERSTATUS_SL" jdbcType="VARCHAR" property="userstatusSl" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="AREA_CODE" jdbcType="VARCHAR" property="areaCode" />
    <result column="SYSTEM_SL" jdbcType="VARCHAR" property="systemSl" />
    <result column="QUARTERS_SL" jdbcType="VARCHAR" property="quartersSl" />
    <result column="USERLEVEL_SL" jdbcType="VARCHAR" property="userlevelSl" />
    <result column="ALIAS" jdbcType="VARCHAR" property="alias" />
    <result column="CONTACTOR" jdbcType="VARCHAR" property="contactor" />
    <result column="TEL" jdbcType="VARCHAR" property="tel" />
    <result column="FAX" jdbcType="VARCHAR" property="fax" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="AVATARPATH" jdbcType="VARCHAR" property="avatarpath" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="WEIXIN" jdbcType="VARCHAR" property="weixin" />
    <result column="ZIPCODE" jdbcType="VARCHAR" property="zipcode" />
    <result column="PERHOUCODE" jdbcType="VARCHAR" property="perhoucode" />
    <result column="PERHOUSE" jdbcType="VARCHAR" property="perhouse" />
    <result column="PERHOUSEHOLD" jdbcType="VARCHAR" property="perhousehold" />
    <result column="PERADDCODE" jdbcType="VARCHAR" property="peraddcode" />
    <result column="PERADD" jdbcType="VARCHAR" property="peradd" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="PROLEVEL_SL" jdbcType="VARCHAR" property="prolevelSl" />
    <result column="PROLEVELNO" jdbcType="VARCHAR" property="prolevelno" />
    <result column="SORTNO" jdbcType="NUMERIC" property="sortno" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CRT_CODE" jdbcType="VARCHAR" property="crtCode" />
    <result column="CREATEDATE" jdbcType="VARCHAR" property="createdate" />
    <result column="UPT_CODE" jdbcType="VARCHAR" property="uptCode" />
    <result column="LASTUPDDATE" jdbcType="VARCHAR" property="lastupddate" />
    <result column="OPRSTAMP" jdbcType="VARCHAR" property="oprstamp" />
    <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
  </resultMap>
  <insert id="insert" parameterType="cn.hulingfeng.domain.User">
    insert into PUB_USER (USER_ID, USER_CODE, USERNAME, 
      SEX_SL, MARRI_SL, EDU_SL, 
      OCCU_SL, LOGINNAME, IDCARD, 
      USERSTATUS_SL, ORG_CODE, AREA_CODE, 
      SYSTEM_SL, QUARTERS_SL, USERLEVEL_SL, 
      ALIAS, CONTACTOR, TEL, 
      FAX, MOBILE, EMAIL, 
      AVATARPATH, QQ, WEIXIN, 
      ZIPCODE, PERHOUCODE, PERHOUSE, 
      PERHOUSEHOLD, PERADDCODE, PERADD, 
      ADDRESS, PROLEVEL_SL, PROLEVELNO, 
      SORTNO, REMARK, CRT_CODE, 
      CREATEDATE, UPT_CODE, LASTUPDDATE, 
      OPRSTAMP, DEPT_CODE, RESERVE1, 
      RESERVE2, RESERVE3)
    values (#{userId,jdbcType=NUMERIC}, #{userCode,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{sexSl,jdbcType=VARCHAR}, #{marriSl,jdbcType=VARCHAR}, #{eduSl,jdbcType=VARCHAR}, 
      #{occuSl,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{userstatusSl,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{systemSl,jdbcType=VARCHAR}, #{quartersSl,jdbcType=VARCHAR}, #{userlevelSl,jdbcType=VARCHAR}, 
      #{alias,jdbcType=VARCHAR}, #{contactor,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{avatarpath,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, 
      #{zipcode,jdbcType=VARCHAR}, #{perhoucode,jdbcType=VARCHAR}, #{perhouse,jdbcType=VARCHAR}, 
      #{perhousehold,jdbcType=VARCHAR}, #{peraddcode,jdbcType=VARCHAR}, #{peradd,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{prolevelSl,jdbcType=VARCHAR}, #{prolevelno,jdbcType=VARCHAR}, 
      #{sortno,jdbcType=NUMERIC}, #{remark,jdbcType=VARCHAR}, #{crtCode,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=VARCHAR}, #{uptCode,jdbcType=VARCHAR}, #{lastupddate,jdbcType=VARCHAR}, 
      #{oprstamp,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, 
      #{reserve2,jdbcType=VARCHAR}, #{reserve3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.hulingfeng.domain.User">
    insert into PUB_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userCode != null">
        USER_CODE,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="sexSl != null">
        SEX_SL,
      </if>
      <if test="marriSl != null">
        MARRI_SL,
      </if>
      <if test="eduSl != null">
        EDU_SL,
      </if>
      <if test="occuSl != null">
        OCCU_SL,
      </if>
      <if test="loginname != null">
        LOGINNAME,
      </if>
      <if test="idcard != null">
        IDCARD,
      </if>
      <if test="userstatusSl != null">
        USERSTATUS_SL,
      </if>
      <if test="orgCode != null">
        ORG_CODE,
      </if>
      <if test="areaCode != null">
        AREA_CODE,
      </if>
      <if test="systemSl != null">
        SYSTEM_SL,
      </if>
      <if test="quartersSl != null">
        QUARTERS_SL,
      </if>
      <if test="userlevelSl != null">
        USERLEVEL_SL,
      </if>
      <if test="alias != null">
        ALIAS,
      </if>
      <if test="contactor != null">
        CONTACTOR,
      </if>
      <if test="tel != null">
        TEL,
      </if>
      <if test="fax != null">
        FAX,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="avatarpath != null">
        AVATARPATH,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="weixin != null">
        WEIXIN,
      </if>
      <if test="zipcode != null">
        ZIPCODE,
      </if>
      <if test="perhoucode != null">
        PERHOUCODE,
      </if>
      <if test="perhouse != null">
        PERHOUSE,
      </if>
      <if test="perhousehold != null">
        PERHOUSEHOLD,
      </if>
      <if test="peraddcode != null">
        PERADDCODE,
      </if>
      <if test="peradd != null">
        PERADD,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="prolevelSl != null">
        PROLEVEL_SL,
      </if>
      <if test="prolevelno != null">
        PROLEVELNO,
      </if>
      <if test="sortno != null">
        SORTNO,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="crtCode != null">
        CRT_CODE,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="uptCode != null">
        UPT_CODE,
      </if>
      <if test="lastupddate != null">
        LASTUPDDATE,
      </if>
      <if test="oprstamp != null">
        OPRSTAMP,
      </if>
      <if test="deptCode != null">
        DEPT_CODE,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=NUMERIC},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sexSl != null">
        #{sexSl,jdbcType=VARCHAR},
      </if>
      <if test="marriSl != null">
        #{marriSl,jdbcType=VARCHAR},
      </if>
      <if test="eduSl != null">
        #{eduSl,jdbcType=VARCHAR},
      </if>
      <if test="occuSl != null">
        #{occuSl,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="userstatusSl != null">
        #{userstatusSl,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="systemSl != null">
        #{systemSl,jdbcType=VARCHAR},
      </if>
      <if test="quartersSl != null">
        #{quartersSl,jdbcType=VARCHAR},
      </if>
      <if test="userlevelSl != null">
        #{userlevelSl,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null">
        #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="avatarpath != null">
        #{avatarpath,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="perhoucode != null">
        #{perhoucode,jdbcType=VARCHAR},
      </if>
      <if test="perhouse != null">
        #{perhouse,jdbcType=VARCHAR},
      </if>
      <if test="perhousehold != null">
        #{perhousehold,jdbcType=VARCHAR},
      </if>
      <if test="peraddcode != null">
        #{peraddcode,jdbcType=VARCHAR},
      </if>
      <if test="peradd != null">
        #{peradd,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="prolevelSl != null">
        #{prolevelSl,jdbcType=VARCHAR},
      </if>
      <if test="prolevelno != null">
        #{prolevelno,jdbcType=VARCHAR},
      </if>
      <if test="sortno != null">
        #{sortno,jdbcType=NUMERIC},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtCode != null">
        #{crtCode,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="uptCode != null">
        #{uptCode,jdbcType=VARCHAR},
      </if>
      <if test="lastupddate != null">
        #{lastupddate,jdbcType=VARCHAR},
      </if>
      <if test="oprstamp != null">
        #{oprstamp,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="cn.hulingfeng.domain.User">
    <id column="User_ID" jdbcType="INTEGER" property="userId" />
    <result column="User_Code" jdbcType="VARCHAR" property="userCode" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="Sex_SL" jdbcType="VARCHAR" property="sexSl" />
    <result column="Marri_SL" jdbcType="VARCHAR" property="marriSl" />
    <result column="Edu_SL" jdbcType="VARCHAR" property="eduSl" />
    <result column="Occu_SL" jdbcType="VARCHAR" property="occuSl" />
    <result column="LoginName" jdbcType="VARCHAR" property="loginname" />
    <result column="Idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="UserStatus_SL" jdbcType="VARCHAR" property="userstatusSl" />
    <result column="Org_Code" jdbcType="VARCHAR" property="orgCode" />
    <result column="Area_Code" jdbcType="VARCHAR" property="areaCode" />
    <result column="System_SL" jdbcType="VARCHAR" property="systemSl" />
    <result column="Quarters_SL" jdbcType="VARCHAR" property="quartersSl" />
    <result column="UserLevel_SL" jdbcType="VARCHAR" property="userlevelSl" />
    <result column="Alias" jdbcType="VARCHAR" property="alias" />
    <result column="Contactor" jdbcType="VARCHAR" property="contactor" />
    <result column="Tel" jdbcType="VARCHAR" property="tel" />
    <result column="Fax" jdbcType="VARCHAR" property="fax" />
    <result column="Mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="Email" jdbcType="VARCHAR" property="email" />
    <result column="Qq" jdbcType="VARCHAR" property="qq" />
    <result column="Weixin" jdbcType="VARCHAR" property="weixin" />
    <result column="Zipcode" jdbcType="VARCHAR" property="zipcode" />
    <result column="PerHouCode" jdbcType="VARCHAR" property="perhoucode" />
    <result column="PerHouse" jdbcType="VARCHAR" property="perhouse" />
    <result column="PerHouseHold" jdbcType="VARCHAR" property="perhousehold" />
    <result column="PerAddCode" jdbcType="VARCHAR" property="peraddcode" />
    <result column="PerAdd" jdbcType="VARCHAR" property="peradd" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="ProLevel_SL" jdbcType="VARCHAR" property="prolevelSl" />
    <result column="ProLevelNo" jdbcType="VARCHAR" property="prolevelno" />
    <result column="SortNo" jdbcType="INTEGER" property="sortno" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="Crt_Code" jdbcType="VARCHAR" property="crtCode" />
    <result column="CreateDate" jdbcType="VARCHAR" property="createdate" />
    <result column="Upt_Code" jdbcType="VARCHAR" property="uptCode" />
    <result column="LastUpdDate" jdbcType="VARCHAR" property="lastupddate" />
    <result column="OprStamp" jdbcType="VARCHAR" property="oprstamp" />
    <result column="Dept_Code" jdbcType="VARCHAR" property="deptCode" />
    <result column="Reserve1" jdbcType="VARCHAR" property="reserve1" />
    <result column="Reserve2" jdbcType="VARCHAR" property="reserve2" />
    <result column="Reserve3" jdbcType="VARCHAR" property="reserve3" />
  </resultMap>
  <sql id="Base_Column_List">
    User_ID, User_Code, UserName, Sex_SL, Marri_SL, Edu_SL, Occu_SL, LoginName, Idcard, 
    UserStatus_SL, Org_Code, Area_Code, System_SL, Quarters_SL, UserLevel_SL, Alias, 
    Contactor, Tel, Fax, Mobile, Email, Qq, Weixin, Zipcode, PerHouCode, PerHouse, PerHouseHold, 
    PerAddCode, PerAdd, Address, ProLevel_SL, ProLevelNo, SortNo, Remark, Crt_Code, CreateDate, 
    Upt_Code, LastUpdDate, OprStamp, Dept_Code, Reserve1, Reserve2, Reserve3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pub_user
    where User_ID = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pub_user
    where User_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.hulingfeng.domain.User">
    insert into pub_user (User_ID, User_Code, UserName, 
      Sex_SL, Marri_SL, Edu_SL, 
      Occu_SL, LoginName, Idcard, 
      UserStatus_SL, Org_Code, Area_Code, 
      System_SL, Quarters_SL, UserLevel_SL, 
      Alias, Contactor, Tel, 
      Fax, Mobile, Email, 
      Qq, Weixin, Zipcode, 
      PerHouCode, PerHouse, PerHouseHold, 
      PerAddCode, PerAdd, Address, 
      ProLevel_SL, ProLevelNo, SortNo, 
      Remark, Crt_Code, CreateDate, 
      Upt_Code, LastUpdDate, OprStamp, 
      Dept_Code, Reserve1, Reserve2, 
      Reserve3)
    values (#{userId,jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{sexSl,jdbcType=VARCHAR}, #{marriSl,jdbcType=VARCHAR}, #{eduSl,jdbcType=VARCHAR}, 
      #{occuSl,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{userstatusSl,jdbcType=VARCHAR}, #{orgCode,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{systemSl,jdbcType=VARCHAR}, #{quartersSl,jdbcType=VARCHAR}, #{userlevelSl,jdbcType=VARCHAR}, 
      #{alias,jdbcType=VARCHAR}, #{contactor,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, 
      #{perhoucode,jdbcType=VARCHAR}, #{perhouse,jdbcType=VARCHAR}, #{perhousehold,jdbcType=VARCHAR}, 
      #{peraddcode,jdbcType=VARCHAR}, #{peradd,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{prolevelSl,jdbcType=VARCHAR}, #{prolevelno,jdbcType=VARCHAR}, #{sortno,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{crtCode,jdbcType=VARCHAR}, #{createdate,jdbcType=VARCHAR}, 
      #{uptCode,jdbcType=VARCHAR}, #{lastupddate,jdbcType=VARCHAR}, #{oprstamp,jdbcType=VARCHAR}, 
      #{deptCode,jdbcType=VARCHAR}, #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, 
      #{reserve3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.hulingfeng.domain.User">
    insert into pub_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        User_ID,
      </if>
      <if test="userCode != null">
        User_Code,
      </if>
      <if test="username != null">
        UserName,
      </if>
      <if test="sexSl != null">
        Sex_SL,
      </if>
      <if test="marriSl != null">
        Marri_SL,
      </if>
      <if test="eduSl != null">
        Edu_SL,
      </if>
      <if test="occuSl != null">
        Occu_SL,
      </if>
      <if test="loginname != null">
        LoginName,
      </if>
      <if test="idcard != null">
        Idcard,
      </if>
      <if test="userstatusSl != null">
        UserStatus_SL,
      </if>
      <if test="orgCode != null">
        Org_Code,
      </if>
      <if test="areaCode != null">
        Area_Code,
      </if>
      <if test="systemSl != null">
        System_SL,
      </if>
      <if test="quartersSl != null">
        Quarters_SL,
      </if>
      <if test="userlevelSl != null">
        UserLevel_SL,
      </if>
      <if test="alias != null">
        Alias,
      </if>
      <if test="contactor != null">
        Contactor,
      </if>
      <if test="tel != null">
        Tel,
      </if>
      <if test="fax != null">
        Fax,
      </if>
      <if test="mobile != null">
        Mobile,
      </if>
      <if test="email != null">
        Email,
      </if>
      <if test="qq != null">
        Qq,
      </if>
      <if test="weixin != null">
        Weixin,
      </if>
      <if test="zipcode != null">
        Zipcode,
      </if>
      <if test="perhoucode != null">
        PerHouCode,
      </if>
      <if test="perhouse != null">
        PerHouse,
      </if>
      <if test="perhousehold != null">
        PerHouseHold,
      </if>
      <if test="peraddcode != null">
        PerAddCode,
      </if>
      <if test="peradd != null">
        PerAdd,
      </if>
      <if test="address != null">
        Address,
      </if>
      <if test="prolevelSl != null">
        ProLevel_SL,
      </if>
      <if test="prolevelno != null">
        ProLevelNo,
      </if>
      <if test="sortno != null">
        SortNo,
      </if>
      <if test="remark != null">
        Remark,
      </if>
      <if test="crtCode != null">
        Crt_Code,
      </if>
      <if test="createdate != null">
        CreateDate,
      </if>
      <if test="uptCode != null">
        Upt_Code,
      </if>
      <if test="lastupddate != null">
        LastUpdDate,
      </if>
      <if test="oprstamp != null">
        OprStamp,
      </if>
      <if test="deptCode != null">
        Dept_Code,
      </if>
      <if test="reserve1 != null">
        Reserve1,
      </if>
      <if test="reserve2 != null">
        Reserve2,
      </if>
      <if test="reserve3 != null">
        Reserve3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sexSl != null">
        #{sexSl,jdbcType=VARCHAR},
      </if>
      <if test="marriSl != null">
        #{marriSl,jdbcType=VARCHAR},
      </if>
      <if test="eduSl != null">
        #{eduSl,jdbcType=VARCHAR},
      </if>
      <if test="occuSl != null">
        #{occuSl,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="userstatusSl != null">
        #{userstatusSl,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="systemSl != null">
        #{systemSl,jdbcType=VARCHAR},
      </if>
      <if test="quartersSl != null">
        #{quartersSl,jdbcType=VARCHAR},
      </if>
      <if test="userlevelSl != null">
        #{userlevelSl,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null">
        #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="perhoucode != null">
        #{perhoucode,jdbcType=VARCHAR},
      </if>
      <if test="perhouse != null">
        #{perhouse,jdbcType=VARCHAR},
      </if>
      <if test="perhousehold != null">
        #{perhousehold,jdbcType=VARCHAR},
      </if>
      <if test="peraddcode != null">
        #{peraddcode,jdbcType=VARCHAR},
      </if>
      <if test="peradd != null">
        #{peradd,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="prolevelSl != null">
        #{prolevelSl,jdbcType=VARCHAR},
      </if>
      <if test="prolevelno != null">
        #{prolevelno,jdbcType=VARCHAR},
      </if>
      <if test="sortno != null">
        #{sortno,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtCode != null">
        #{crtCode,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="uptCode != null">
        #{uptCode,jdbcType=VARCHAR},
      </if>
      <if test="lastupddate != null">
        #{lastupddate,jdbcType=VARCHAR},
      </if>
      <if test="oprstamp != null">
        #{oprstamp,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hulingfeng.domain.User">
    update pub_user
    <set>
      <if test="userCode != null">
        User_Code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sexSl != null">
        Sex_SL = #{sexSl,jdbcType=VARCHAR},
      </if>
      <if test="marriSl != null">
        Marri_SL = #{marriSl,jdbcType=VARCHAR},
      </if>
      <if test="eduSl != null">
        Edu_SL = #{eduSl,jdbcType=VARCHAR},
      </if>
      <if test="occuSl != null">
        Occu_SL = #{occuSl,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null">
        LoginName = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        Idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="userstatusSl != null">
        UserStatus_SL = #{userstatusSl,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null">
        Org_Code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        Area_Code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="systemSl != null">
        System_SL = #{systemSl,jdbcType=VARCHAR},
      </if>
      <if test="quartersSl != null">
        Quarters_SL = #{quartersSl,jdbcType=VARCHAR},
      </if>
      <if test="userlevelSl != null">
        UserLevel_SL = #{userlevelSl,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        Alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null">
        Contactor = #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        Tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        Fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        Mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        Qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        Weixin = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="zipcode != null">
        Zipcode = #{zipcode,jdbcType=VARCHAR},
      </if>
      <if test="perhoucode != null">
        PerHouCode = #{perhoucode,jdbcType=VARCHAR},
      </if>
      <if test="perhouse != null">
        PerHouse = #{perhouse,jdbcType=VARCHAR},
      </if>
      <if test="perhousehold != null">
        PerHouseHold = #{perhousehold,jdbcType=VARCHAR},
      </if>
      <if test="peraddcode != null">
        PerAddCode = #{peraddcode,jdbcType=VARCHAR},
      </if>
      <if test="peradd != null">
        PerAdd = #{peradd,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="prolevelSl != null">
        ProLevel_SL = #{prolevelSl,jdbcType=VARCHAR},
      </if>
      <if test="prolevelno != null">
        ProLevelNo = #{prolevelno,jdbcType=VARCHAR},
      </if>
      <if test="sortno != null">
        SortNo = #{sortno,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtCode != null">
        Crt_Code = #{crtCode,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        CreateDate = #{createdate,jdbcType=VARCHAR},
      </if>
      <if test="uptCode != null">
        Upt_Code = #{uptCode,jdbcType=VARCHAR},
      </if>
      <if test="lastupddate != null">
        LastUpdDate = #{lastupddate,jdbcType=VARCHAR},
      </if>
      <if test="oprstamp != null">
        OprStamp = #{oprstamp,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null">
        Dept_Code = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="reserve1 != null">
        Reserve1 = #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        Reserve2 = #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        Reserve3 = #{reserve3,jdbcType=VARCHAR},
      </if>
    </set>
    where User_ID = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hulingfeng.domain.User">
    update pub_user
    set User_Code = #{userCode,jdbcType=VARCHAR},
      UserName = #{username,jdbcType=VARCHAR},
      Sex_SL = #{sexSl,jdbcType=VARCHAR},
      Marri_SL = #{marriSl,jdbcType=VARCHAR},
      Edu_SL = #{eduSl,jdbcType=VARCHAR},
      Occu_SL = #{occuSl,jdbcType=VARCHAR},
      LoginName = #{loginname,jdbcType=VARCHAR},
      Idcard = #{idcard,jdbcType=VARCHAR},
      UserStatus_SL = #{userstatusSl,jdbcType=VARCHAR},
      Org_Code = #{orgCode,jdbcType=VARCHAR},
      Area_Code = #{areaCode,jdbcType=VARCHAR},
      System_SL = #{systemSl,jdbcType=VARCHAR},
      Quarters_SL = #{quartersSl,jdbcType=VARCHAR},
      UserLevel_SL = #{userlevelSl,jdbcType=VARCHAR},
      Alias = #{alias,jdbcType=VARCHAR},
      Contactor = #{contactor,jdbcType=VARCHAR},
      Tel = #{tel,jdbcType=VARCHAR},
      Fax = #{fax,jdbcType=VARCHAR},
      Mobile = #{mobile,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      Qq = #{qq,jdbcType=VARCHAR},
      Weixin = #{weixin,jdbcType=VARCHAR},
      Zipcode = #{zipcode,jdbcType=VARCHAR},
      PerHouCode = #{perhoucode,jdbcType=VARCHAR},
      PerHouse = #{perhouse,jdbcType=VARCHAR},
      PerHouseHold = #{perhousehold,jdbcType=VARCHAR},
      PerAddCode = #{peraddcode,jdbcType=VARCHAR},
      PerAdd = #{peradd,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      ProLevel_SL = #{prolevelSl,jdbcType=VARCHAR},
      ProLevelNo = #{prolevelno,jdbcType=VARCHAR},
      SortNo = #{sortno,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=VARCHAR},
      Crt_Code = #{crtCode,jdbcType=VARCHAR},
      CreateDate = #{createdate,jdbcType=VARCHAR},
      Upt_Code = #{uptCode,jdbcType=VARCHAR},
      LastUpdDate = #{lastupddate,jdbcType=VARCHAR},
      OprStamp = #{oprstamp,jdbcType=VARCHAR},
      Dept_Code = #{deptCode,jdbcType=VARCHAR},
      Reserve1 = #{reserve1,jdbcType=VARCHAR},
      Reserve2 = #{reserve2,jdbcType=VARCHAR},
      Reserve3 = #{reserve3,jdbcType=VARCHAR}
    where User_ID = #{userId,jdbcType=INTEGER}
  </update>
</mapper>